# MongoDB connection string
MONGO_URI=mongodb://mongo:27017

# Token OVH AI (jeżeli używasz funkcji AI)
OVH_AI_ENDPOINTS_ACCESS_TOKEN=eyJhbGciOiJFZERTQSIsImtpZCI6IjgzMkFGNUE5ODg3MzFCMDNGM0EzMTRFMDJFRUJFRjBGNDE5MUY0Q0YiLCJraW5kIjoicGF0IiwidHlwIjoiSldUIn0.eyJ0b2tlbiI6IjF6WThGejZnQjUvQ2VPbUt0b3NIZ0o0RnRuNDA3cmJqVkFEZW5lQnhyRGM9In0.ZBYO2_TvLvd-hCxFfMWJPVZJW7xuJSUMcZLGKkvZDB4MeYOLHeyeJGjwU3wbT76FWMQ_fe8_aL9gMVMq72OJAQ

# Model AI (opcjonalnie)
AI_MODEL_NAME=gpt-oss-120b
