
cd ~/truck-menu/ovh
printf "DOMAIN_ROOT=zjedz.it\n" > .env


# --- App ---
SYSTEM_MODE=restaurant
BRAND=ZJEDZIT

# Token do operacji DASH (tworzenie/usuwanie tenantów)
# Używaj długiego losowego ciągu (min 32 znaki)
DASH_ADMIN_TOKEN=FCMDNGM0EzMTRFMDJFRUJFRjBGNDE5MUY0Q0YiLCJ

# --- PostgreSQL (1 baza, multi-tenant w danych) ---
PG_DB=saas_db

# superuser tylko do uruchomienia kontenera (nie używaj w aplikacji)
PG_SUPERUSER=pg_admin
PG_SUPERPASS=zjedzit09

# user aplikacyjny (to nim łączy się FastAPI)
PG_APPUSER=app_user
PG_APPPASS=zjedzit09

# Token OVH AI (jeżeli używasz funkcji AI)
OVH_AI_ENDPOINTS_ACCESS_TOKEN=eyJhbGciOiJFZERTQSIsImtpZCI6IjgzMkFGNUE5ODg3MzFCMDNGM0EzMTRFMDJFRUJFRjBGNDE5MUY0Q0YiLCJraW5kIjoicGF0IiwidHlwIjoiSldUIn0.eyJ0b2tlbiI6IjF6WThGejZnQjUvQ2VPbUt0b3NIZ0o0RnRuNDA3cmJqVkFEZW5lQnhyRGM9In0.ZBYO2_TvLvd-hCxFfMWJPVZJW7xuJSUMcZLGKkvZDB4MeYOLHeyeJGjwU3wbT76FWMQ_fe8_aL9gMVMq72OJAQ

# Model AI (opcjonalnie)
AI_MODEL_NAME=gpt-oss-120b
