[Unit]
Description=Zjedz.it POS FastAPI
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/opt/zjedzit
Environment="PATH=/opt/zjedzit/venv/bin"
EnvironmentFile=/opt/zjedzit/ovh/.env
Environment="GOOGLE_APPLICATION_CREDENTIALS=/opt/zjedzit/serviceAccountKey.json"
ExecStart=/opt/zjedzit/venv/bin/gunicorn -k uvicorn.workers.UvicornWorker --bind 127.0.0.1:8080 main:app
Restart=always
RestartSec=5
LimitNOFILE=65535
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
