[Unit]
Description=Elvis Burger POS FastAPI
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/opt/elvis
Environment="PATH=/opt/elvis/venv/bin"
EnvironmentFile=/opt/elvis/ovh/.env
Environment="GOOGLE_APPLICATION_CREDENTIALS=/opt/elvis/serviceAccountKey.json"
ExecStart=/opt/elvis/venv/bin/gunicorn -k uvicorn.workers.UvicornWorker --bind 127.0.0.1:8080 main:app
Restart=always
RestartSec=5
LimitNOFILE=65535
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
